---
layout: nav
---
<div class="row">
    <div class="col-lg cal-container">
       <!--  {% include calendar.html %}
        <a href="/calendar">
            <button type="button" class="btn btn-outline-success button">See events by month</button>
        </a> -->
        <div id="calendar"></div>
    </div>
    <div class="col-lg">
        <div class="row">
            {% include card.html newtab="" title="studyguides.science" class="highlighted-card" text="Science study notes for biology and chemistry." link="https://studyguides.science"%}
            {% include card.html title="New to PALY?" text="Information for freshmen and newcomers." link="/new-to-paly.html"%}
            {% include card.html title="Bell Schedule" text="Updated for 2018-2019 school year." link="/bell-schedule"%}
            {% include card.html title="PAUSD Calendar" text="Full school year calendar, district-wide." link="/pausd-calendar"%}
            {% include card.html newtab="" title="ID Portal" text="Schoology, Infinite Campus, Google Drive, NoodleTools." link="https://id.pausd.org/"%}
            {% include card.html newtab="" title="Naviance" text="GPA, college resources, SAT/ACT test scores." link="https://connection.naviance.com/family-connection/auth/login/?hsid=pahs"%}
            {% include card.html title="Sports" text="Tryout and practice dates." link="/sports.html"%}
            {% include card.html title="Paly Sites" text="Publications, library website, paly.net." link="/paly-sites"%}
            {% include card.html title="Community Service Information" text="How to get the President's Award." link="/community-service"%}
            {% include card.html title="Attendance Policy" text="What to do when you miss class." link="/attendance-policy"%}
            {% include card.html title="Work Permit" text="How and where to apply for one." link="/work-permit"%}
            {% include card.html title="Course Catalog" text="List of classes for 2018-2019 school year." link="/course-catalog"%}
        </div>
    </div>
</div>