---
layout: ad-top
title: New to PALY?
---
<p>Information for freshmen/newcomers.</p>
<div class="row">
	{% include card.html title="Campus Map" text="How to get around." link="/new-to-paly/campus-map"%}
	{% include card.html newtab="" title="Directory" text="Staff contact info." link="https://paly.net/connect/directory"%}
	{% include card.html title="Flex/Tutorial FAQs" text="How flex time works." link="/new-to-paly/flex"%}
	{% include card.html title="NYTimes Academic Pass" text="Get the New York Times for free." link="/new-to-paly/nytimes"%}
	{% include card.html newtab="" title="What Every 9th Grader Should Know" text="Brought to you by Link Crew." link="https://docs.google.com/document/d/1gcoXSFT6yILQpIP5D3lr4P5UtuKqh6IWLJ49hTTuuDc/edit"%}
</div>