---
layout: ad-top
title: New to PALY?
---
<p>Information for freshmen/newcomers.</p>
<div class="row">
	{% include card.html title="Campus Map" text="How to get around." link="/new-to-paly/campus-map"%}
	{% include card.html newtab="" title="Directory" text="Staff contact info." link="https://paly.net/staff_directory"%}
	{% include card.html title="Flex/Tutorial FAQs" text="How flex time works." link="/new-to-paly/flex"%}
	{% include card.html title="NYTimes Academic Pass" text="Get the New York Times for free." link="/new-to-paly/nytimes"%}
</div>