---
layout: ad-top
title: Paly Sites
---
<p>Links to various Paly websites.</p>
<div class="row">
	{% include card.html newtab="" title="paly.net" text="Official PALY website." link="https://paly.net"%}
	{% include card.html newtab="" title="ASB" text="Associated Student Body." link="https://sites.google.com/site/pahsasb/clubs"%}
	{% include card.html newtab="" title="Library Catalog" text="Search for books." link="http://pa.opals.pausd.org/bin/home"%}
	{% include card.html newtab="" title="Athletics Site" text="Information on sports." link="https://palyathletics.com/"%}
</div>
<h2>Publications</h2>
<p>Websites of all the Paly publications.</p>
<div class="row">
	{% include card.html newtab="" title="The Campanile" 
	link="https://thecampanile.org/"%}
	{% include card.html newtab="" title="Verde Magazine" link="http://verdemagazine.com/"%}
	{% include card.html newtab="" title="Paly Voice" 
	link="https://palyvoice.com/"%}
	{% include card.html newtab="" title="Viking Magazine" link="https://vikingsportsmag.com/"%}
	{% include card.html newtab="" title="C Magazine" 
	link="https://issuu.com/c_magazine"%}
	{% include card.html newtab="" title="Madrono" link="https://palymadrono.com/"%}
	{% include card.html newtab="" title="Infocus" link="http://www.infocusnews.tv/"%}
	{% include card.html newtab="" title="[proof]" link="https://issuu.com/proofpaly"%}
	{% include card.html newtab="" title="Paly Video Productions" link="https://vimeo.com/palyvideoproductions/"%}
	{% include card.html newtab="" title="Paly Radio" link="https://www.palyradio.com/"%}
</div>