---
layout: ad-top
title: "Sports"
---
<div class="row">
	{% include card.html newtab="" title="Athletics Site" text="Information on sports." link="https://palyathletics.com/"%}
	{% include card.html newtab="" title="Tryout Dates" text="Fall 2018 1st Day of Practice and Tryout Dates" link="https://docs.google.com/document/d/1W_1pzoibxyrZYgbF0Kw_iafI70RqlfThfmp-Nsnn76g/"%}
	{% include card.html newtab="" title="Registration Instructions" text="Athletic Registration for Fall 2018 Sports." link="https://palyathletics.com/2018/05/22/fall-2018-athletics-registration-instructions/"%}
</div>