.nav {
  background-color: green;
  padding: 15px 15px 0;
}
.nav a {
  color: white;
}
.nav a:hover {
  color: white;
}
@media only screen and (max-width: 720px) {
  .nav {
    padding: 15px;
  }
}

#logo {
  font-weight: bold;
  /*text-transform: uppercase;*/
  letter-spacing: 1px;
}

#desc {
  font-size: 15px;
  font-style: italic;
  color: white;
  float: right;
}
@media only screen and (max-width: 720px) {
  #desc {
    display: none;
  }
}

.col-lg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cal-container {
  width: 100%;
  overflow-x: hidden;
}

iframe {
  border-width: 0;
  margin: 0;
  height: 400px;
  width: 100%;
  font-size: 100px;
}
@media only screen and (min-width: 960px) {
  iframe {
    margin-left: 0%;
    height: 100%;
  }
}

.col-md-6 {
  padding: 7.5px;
}

.card {
  height: 100%;
  padding: 30px 15px 15px;
  text-align: center;
  transition: all 0.25s;
}
.card img {
  transition: all 0.5s;
  height: 100px;
  /*width: 100px;*/
  /*object-fit: cover;*/
}
.card h5 {
  color: black;
  font-style: normal;
}
.card p {
  color: gray;
}

.date-label {
  font-size: 100px !important;
}