.subscribe-image {
	display: none !important;
}

.col-lg {
	display: flex;
	align-items: center;
	justify-content: center;
}

.cal-container {
	width: 100%;
	overflow: hidden;
}

iframe {
	border-width: 0;
	margin: 0;
	height: 400px;
	width: 100% !important;
	max-width: 100% !important;
	@media only screen and (min-width : 960px) {
		margin-left: 0%;
		height: 100%;
		width: 100%;
	}
}
.col-md-6 {
	padding: 7.5px;
}

.card {
	height: 100%;
	padding: 30px 15px 15px;
	text-align: center;
	img {
		height: 100px;
		/*width: 100px;*/
		/*object-fit: cover;*/
	}
	h5 {
		color: black;
	}
	p {
		color: gray;
	}
}